body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
nav {
	background: white;
	padding: 1em 3em;
}
#header-logo {
	width: 1.6em;
	display: inline-block;
}
nav > ul {
	display: inline-block;
	list-style: none;
	float: right;
}
nav > ul > li {
	display: inline-block;
	margin-left: 1.5em;
}
nav > ul > li > a {
	text-decoration: none;
	color: #838994;
}
nav > ul > li.active a {
	font-weight: bold;
}