body {
    background-color: LightGray;
}
nav {
	background: white;
	padding: 1em 3em;
}
.nav-container {
	width: 100%;
	max-width: 68em;
	margin: auto;
}
#header-logo {
	width: 1.6em;
	display: inline-block;
}
.header-links {
	display: inline-block;
	list-style: none;
	float: right;
}
.header-links > li {
	display: inline-block;
	margin-left: 1.5em;
}
.header-links > li > a {
	text-decoration: none;
	color: #838994;
}
.header-links > li.active a {
	color: #4c5058;
    font-weight: 500;
}